<footer class="px-4 md:px-0 py-12 mx-auto text-center" v-pre>
  <div>Copyright &copy; 2022 - <%- date(Date.now(), 'YYYY') %></div>
  <div>
    <span class="">
      Powered by <a href="https://hexo.io" target="_blank">Hexo</a>
    </span>
    <span class="mx-2 text-red-500">
      <i class="heart-icon ri-heart-fill"></i>
    </span>
    <span class="">
      Theme
      <a href="https://github.com/imwu97/hexo-theme-febr" target="_blank">
        Febr
      </a>
    </span>
  </div>
</footer>
