<div class="w-full mx-auto md:px-0 bg-[#444] rounded-none md:rounded shadow">
  <div class="p-8">
    <div class="flex flex-row">
      <div class="markdown-content w-full mx-auto"><%- page.content %></div>
    </div>
  </div>
</div>
